---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: I couldn't have asked for a better real estate agent. Cassandra was knowledgeable, professional, and always available to answer my questions.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Jane Doe
  - message: We were so happy with our real estate agent. She was responsive, knowledgeable, and always put our needs first.
    image: "https://www.fillmurray.com/61/61?a=.png"
    name: Mike Williams
  - message: We couldn't have done it without Cassandra. She was a lifesaver!
    image: "https://placebear.com/60/60?a=.png"
    name: Jonah Johnson
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>Welcome to Johnson Premier LLC, where your dream home becomes a reality. Our dedicated team of experienced real estate agents is committed to providing exceptional service, guiding you through the buying or selling process with expertise and care. Whether you're a first-time buyer or a seasoned investor, we're here to make your real estate journey a seamless and successful one.</p>

</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
